# Byte-compiled / optimized files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Jupyter Notebook specific files (if you use Jupyter Notebooks)
.ipynb_checkpoints/

# Matplotlib cache directory
.cache/

# Matplotlib saved figures
*.png
*.jpg
*.jpeg
*.pdf


# JetBrains IDE (PyCharm) specific files
.idea/
